*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
app/build/
*.log
*.hprof
.navigation/
captures/
output.json
.cxx/
*.jks
*.keystore
google-services.json
